<div class="h-screen flex flex-col">
  <tm-navbar></tm-navbar>
  <div class="flex flex-col flex-grow justify-center items-center">
    <div class="flex gap-4 p-4">
      <button
        class="p-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-white font-bold rounded w-20"
        [routerLink]="['erc20']"
        routerLinkActive="bg-gray-400 dark:bg-gray-600"
      >
        ERC20
      </button>
      <button
        class="p-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-white font-bold rounded w-20"
        [routerLink]="['erc721']"
        routerLinkActive="bg-gray-400 dark:bg-gray-600 "
      >
        ERC721
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
